.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 100px 0;
  padding: 20px;
  border-radius: 20px;
  background-color: bisque;
  font-family: Arial, sans-serif;
}

.about h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
  opacity: 0.8;
  color: black;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  width: 90%;
  font-size: large;
  font-weight: bold;
}

.about-aim {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  color: white;
  width: 100%;
}

.aim-item {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.aim-text {
  margin: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  height: 250px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.aim-image {
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  height: 50%;
}

.item-image img {
  height: 200px;
  width: 300px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .aim-item {
    flex-direction: column;
    width: 100%;
  }

  .aim-image {
    display: none;
  }

  .aim-text {
    margin: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 250px;
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .aim-text {
    margin: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 285px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }

  .about-text {
    font-size: 14px;
    font-weight: bold;
  }
}
